.button {
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}

#outerHeader {
  background-color: #1abc9c;
  padding-top: 80px;
  padding-bottom: 80px;
}

header{
  background-color: #1abc9c;
  color: white;
  height: 100px;
  overflow: hidden;
}

header p {
  font-size: 20px;
}

#title{
  display: inline-block;
}
header img{
  width: 80px;
  margin-right: 30px;
  display: inline-block;
  padding-bottom: 40px;
}

.rcorners {
  border-radius: 10px;
}

.button4 {
  border-radius: 12px;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}